<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Homepwner" connectionString="Server=.\sqlexpress;Database=Homepwner;User Id=sa;Password=geodes-morose;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PhotoRootSavePath" value="C:\Homepwner\Photos" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>